html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --dark-color: rgb(64, 63, 63);
  --yellow-color: rgb(255, 255, 54);
}

.link-dom {
  font-size: 2rem;
  background-color: aqua;
  color: blue;
  background-color: rgb(165, 42, 42);
}

.cards {
  border: 3px solid var(--dark-color);
  padding: 1rem;
  background-color: bisque;
}

.card {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-color);
  color: var(--yellow-color);
  padding: 2rem;
  border: 3px solid black;
  border-radius: 2rem;
}

.card figcaption {
  text-align: center;
  padding: 1rem;
}

.rotate45 {
  transform: rotate(45deg);
}

.rotate-45 {
  transform: rotate(-45deg);
}

.opacity-80 {
  opacity: 0.8;
}

.sepia {
  filter: sepia(1);
}
